<div id="content_item">
  <h1>Error Status Code: 404</h1>
  <span class="right"><img src="/images/sherlock_holmes.jpg" alt="Sherlock Holmes" /></span>
  <h3>
  "I say Holmes, I can not find my blasted<br>
  <%= request.path_info %><br>
  Have you hidden it again?"
  </h3>
</div>

