<div id="content_item">
  <h1>Error Status Code: 500</h1>
  <span class="right"><img src="/images/sherlock_holmes.jpg" alt="Sherlock Holmes" /></span>
  <h3>
  "I say Holmes, I can not get my blasted
  computing machine to work correctly.
  Have you been tinkering with it again?
  Sigerson had to ask Mycroft to lend a hand
  repairing it the last time you looked inside."
  </h3>
  <p>
  Error Message:
  <%= @error %>
  <%= request.path_info %>
</div>

