<div id="content_item">
  <h1>Professional Biography</h1>

  <p> 
  Mr. Dewayne VanHoozer's career has been diverse spanning projects from below the
  ground, national defense and science fiction-based video games to training real astronauts to
  live and work in space aboard the International Space Station.
 
  <p>He specializes in the hard problems. organizing, focusing and leading 
  effective teams to define and implement 
  <i>Out of the Box</i> solutions for complex problems
  with a disciplined and logical methodology.
  
  
  <blockquote>
          <span class="left">
            <img src="images/reagan1.jpg" height="90" width="131"  />
          </span>
    <i>"So, I urge you to speak out against those who would place 
    the United States in a position of military and moral inferiority. 
    ....
    I urge you to beware 
    the temptation of pride -- the temptation of blithely declaring 
    yourselves above it all and label both sides equally at fault, 
    to ignore the facts of history and the aggressive impulses of 
    an evil empire, to simply call the arms race a giant misunderstanding 
    and thereby remove yourself from the struggle between 
    right and wrong and good and evil."</i>
    <br><br>
    <p align="right">President Reagan, March 8, 1983</p>
  </blockquote>
  
  <p>After President Reagan's "evil empire" speech
  Mr. VanHoozer left the video game industry and California behind
  to work on projects of national importance
  with TELOS Corporation
  first in
  support of the U.S. Army Field Artillery at Fort Sill Oklahoma 
  and later with the
  U.S. Army Intelligence Center at Fort Huachuca Arizona.
  
  <p>In 1996 after retiring
  from work in the defense industry he fulfilled a boyhood dream by working at NASA's
  Johnson Space Center in Houston Texas as a consultant with GeoLogics Corporation
  for Raytheon.
  As a member of the On-board Computer Systems Integrated Product Team, Mr. VanHoozer
  was responsible for the critical communications protocols that enabled the
  Space Station Training Facility to run the complex training simulations used to
  prepare astronauts for operational life aboard the International Space Station.
  
  <p>Mr. VanHoozer worked with NASA on the complex simulations of the International Space
  Station beginning before the first module was put into orbit.  He developed the
  special simulation needs of every
  flight from 1R to 5A watching as the ISS was built piece by piece until it was ready
  for full time occupancy.
  
  <p>Events on 9/11 2001 brought Mr. VanHoozer back into service within the
  defense industry as one of the senior engineers at Raytheon's Intelligence and Information
  Systems division
  working on special projects in support
  of Operation Iraqi Freedom.  His efforts with advanced technology integration led to the deployment
  of one of the most sophisticated and comprehensive common operational geospatial intelligence
  systems ever deployed to an operational combat theater.  After the Joint Intelligence, Surveillance
  and Reconnaissance system, Mr. VanHoozer's attention was focused on the other side
  of the world and the special problems represented there.
  
  <p>Mr. VanHoozer's role as Chief Engineer for SAIC on the Theater Effects-based Operations system
  directly involved him once again in complex software simulation technology.  
  His last assignment in the defense industry was in Texas doing
  research and development of complex distributed
  models and simulations for new air and missile defense systems with
  Lockheed Martin Missiles and Fire Control.
  
  <p>His devotion to lifelong learning has enabled him to ride the bleeding edge wave of
  technology with a willingness to
  "kick out" should the risk become too great.  "Innovation is hard. Sometimes the simple solution
  is the best" is his KISS mantra.

  <%= prev_next("index", "roles") %>

</div>

