<div id="content_item">
  <h1>Bio</h1>
  <span class="left"><img src="images/gen_jack_placeholder.jpg" alt="Placeholder" height="145" width="145"  /></span>
  Mr. Dewayne VanHoozer's career has been diverse spanning projects from below the
  ground, national defense and science fiction-based video games to training real astronauts to
  live and work in space aboard the International Space Station.
 
  <p>He specializes in the hard problems. organizing, focusing and leading 
  effective teams to define and implement 
  complex <i>Out of the Box</i> solutions 
  with a disciplined and logical methodology.
  
  <p>His devotion to lifelong learning has enabled him to ride the bleeding edge wave of
  technology with a willingness to
  "kick out" should the risk become too great.  "Innovation is hard. Sometimes the simple solution
  is the best" is his KISS mantra.
  
</div>

