<div id="content_item">
  <h1>Contact Dewayne VanHoozer</h1>
 
  <div class="border">
    <article>
      <span class="left">
        <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
          <param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
          <param name="wmode" value="transparent" />
          <param name="FlashVars" value="id=99610877d960360ba62f9c709438c60f43cffd93&style=0" />
        </object>
      </span>
      If its present,
      click the button on the left, then in its embedded form enter your name and the telephone number at which you can
      currently be reached.  The Google Voice system will immediately call your telephone and directly
      connect you to the voice mail system for Dewayne VanHoozer.

      <p><p><p><p>
      
      <h1>Or ...</h1>
      
      <span class="center"><img src="/images/under_construction.gif" alt="Placeholder" /></span>
      
      <p>
      Use the form below to contact Dewayne VanHoozer.  May get rid of the form in favor
      or a simple eMail link.  The form is not yet hooked up to an email sender.
      
      <p><p><p><p><p>
  
      <form action="#" method="post">
        <label for="name">Your Name:</label>
        <br>
        <input type="text" name="name" id="name" value="" tabindex="1" />
        <br>
        <br>
        <label for="subject">Subject:</label>
        <br>
        <input type="text" name="subject" id="subject" value="" tabindex="1" />
        <br>
        <br>
        <label for="email">Your eMail address:</label>
        <br>
        <input type="text" name="email" id="email" value="" tabindex="1" />
        <br>
        <br>
        <label for="message">Message:</label>
        <br>
        <textarea cols="40" rows="8" name="message" id="textarea"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit" class="button" />
      </form>
      <br>
      <br>
      <br>
    </article>
  </div>
</div>

