<div id="content_item">
  <h1>Thank You ...</h1>
  <p>
  ... for taking the time to view this biographic web site.
  My intent is not purely ego gratification; rather to provide a place
  to expand upon boring terse resume content through narrative in place of
  acronyms.  Communication is the key to effective relationships wither they
  be personal or professional.  Consider this my attempt at communicating
  with you.
  <p>
  A resume and list of references are available upon request.  On the right
  is a list a ways in which you may contact me.
</div>

