<div id="content_item">
  <h1>Thank You ...</h1>
  <p>
  ... for taking the time to view this biographic web site.
  My intent is not purely ego gratification; rather to provide a place
  to expand upon boring terse resume content through narrative in place of
  acronyms.  Communication is the key to effective relationships whether they
  be personal or professional.  Consider this my attempt at communicating
  with you.
  <p>
  To view my biography click on the <a href="/about" >About menu item</a> located above.
  You may also view my video presentations which have been made public in the
  list on the right.
  <p>
  A resume and list of references are available upon request.  On the right
  is a list a ways in which you may contact me.

  <h1>Professional Biography</h1>

  <p> 
  Mr. Dewayne VanHoozer's career has been diverse spanning projects from below the
  ground, national defense and science fiction-based video games to training real astronauts to
  live and work in space aboard the International Space Station.
 
  <p>He specializes in the hard problems. organizing, focusing and leading 
  effective teams to define and implement 
  <i>Out of the Box</i> solutions for complex problems
  with a disciplined and logical methodology.
  
  
  <blockquote>
          <span class="left">
            <img src="images/reagan1.jpg" height="90" width="131"  />
          </span>
    <i>"So, I urge you to speak out against those who would place 
    the United States in a position of military and moral inferiority. 
    ....
    I urge you to beware 
    the temptation of pride -- the temptation of blithely declaring 
    yourselves above it all and label both sides equally at fault, 
    to ignore the facts of history and the aggressive impulses of 
    an evil empire, to simply call the arms race a giant misunderstanding 
    and thereby remove yourself from the struggle between 
    right and wrong and good and evil."</i>
    <br><br>
    <p align="right">President Reagan, March 8, 1983</p>
  </blockquote>
  
  <p>After President Reagan's "evil empire" speech
  Mr. VanHoozer left the video game industry and California behind
  to work on projects of national importance
  with TELOS Corporation
  first in
  support of the U.S. Army Field Artillery at Fort Sill Oklahoma 
  and later with the
  U.S. Army Intelligence Center at Fort Huachuca Arizona.
  
  <p>In 1996 after retiring
  from work in the defense industry he fulfilled a boyhood dream by working at NASA's
  Johnson Space Center in Houston Texas as a consultant with GeoLogics Corporation
  for Raytheon.
  As a member of the On-board Computer Systems Integrated Product Team, Mr. VanHoozer
  was responsible for the critical communications protocols that enabled the
  Space Station Training Facility to run the complex training simulations used to
  prepare astronauts for operational life aboard the International Space Station.
  
  <p>Mr. VanHoozer worked with NASA on the complex simulations of the International Space
  Station beginning before the first module was put into orbit.  He developed the
  special simulation needs of every
  flight from 1R to 5A watching as the ISS was built piece by piece until it was ready
  for full time occupancy.
  
  <p>Events on 9/11 2001 brought Mr. VanHoozer back into service within the
  defense industry as one of the senior engineers at Raytheon's Intelligence and Information
  Systems division
  working on special projects in support
  of Operation Iraqi Freedom.  His efforts with advanced technology integration led to the deployment
  of one of the most sophisticated and comprehensive common operational geospatial intelligence
  systems ever deployed to an operational combat theater.  After the Joint Intelligence, Surveillance
  and Reconnaissance system, Mr. VanHoozer's attention was focused on the other side
  of the world and the special problems represented there.
  
  <p>Mr. VanHoozer's role as Chief Engineer for SAIC on the Theater Effects-based Operations system
  directly involved him once again in complex software simulation technology.  
  His last assignment in the defense industry was in Texas doing
  research and development of complex distributed
  models and simulations for new air and missile defense systems with
  Lockheed Martin Missiles and Fire Control.
  
  <p>His devotion to lifelong learning has enabled him to ride the bleeding edge wave of
  technology with a willingness to
  "kick out" should the risk become too great.  "Innovation is hard. Sometimes the simple solution
  is the best" is his KISS mantra.


  <h1>Details</h1>
  
  <p>
  The web pages that follow provide some details on the roles and responsibilities
  that Mr. VanHoozer has executed over the years.
  
  <p>
  In Mr. VanHoozer's career he has worn the hat of
  manager, leader and developer -
  sometimes all at the same time.  As a manager, he has controlled the budget and 
  maintained the schedule
  ensuring his teams have all the resources they need to get the job done.  As a leader
  focused on the requirements, he sets
  the example for his team, inspiring them to do the best possible job.
  As a developer, his devotion to lifelong learning ensures that the right tool is used
  for the right job.
  
  <table>
    <tr>
      <td>1983 - 1995</td>
      <td><a href="/roles_telos">TELOS Corporation< / GE Federal Systems</a></td>
    </tr>

    <tr>
      <td>1996 - 2001</td>
      <td><a href="/roles_geologics">GeoLogics at Raytheon Aerospace</a></td>
    </tr>

    <tr>
      <td>2001 - 2003</td>
      <td><a href="/roles_raytheon">Raytheon Intelligence and Information Systems (IIS)</a></td>
    </tr>

    <tr>
      <td>2003 - 2005</td>
      <td><a href="/roles_saic">SAIC Information Technology and Simulations</a></td>
    </tr>

    <tr>
      <td>2005 - 2011</td>
      <td><a href="/roles_lmmfc">Lockheed Martin Missiles and Fire Control</a></td>
    </tr>

  </table>
  
  <p>
  As a technical leader Mr. VanHoozer has the following typical responsibilities:

<ul>
  <li>Overseeing the ...
  <ul>
    <li>technical approach, design, and solutions of software systems to ensure completion of projects as efficiently and effectively as possible per the project plans
    <li>quality of the software systems produced by the group
    <li>quality of the group’s technical outputs such as requirements, design, test procedures, and test results
  </ul>
  <li>Participates in the development of the products by contributing to the specifications, designs, and implementation of the software products
  <li>Ensuring the team is executing per the development process
  <li>Working through impediments the team may experience at any given time
  <li>Coordinating with all project stakeholders, including internal and external customers, to ensure buy-in and that delivered products meet stakeholder and customer needs
  <li>Ensuring the competency and capacity of the group can meet the needs of current and upcoming projects
  <li>Ensuring solid technical relationships are formed and maintained with suppliers and customers
  <li>Overseeing software systems solution development for new business activities
  <li>Developing and maintaining a software engineering process based on product development best practices
  <li>Enabling the process through the effective use of up-to-date tools and technology
  <li>Overseeing the group’s personnel professional development and training
  <li>Performing personnel objective setting, performance appraisals, and compensation adjustments
  <li>Communicating effectively with employees, customers, suppliers and executive management
  <li>Contributing to company overall strategies and goals, training program, policies, & procedures   
</ul>




  <%= prev_next("", "roles_telos") %>

</div>

