<div id="content_item">
  <h1>Defense Industry</h1>
  
  <p>
  Mr. VanHoozer began working in the defense industry in the mid 1980s in answer
  to a call to arms by the new president Ronald Reagun who called for the defeat of the
  "evil empire."  His first assignments were in support of the U. S. Army Field
  Artillery at Fort Sill Oklahoma with TELOS Corporation - later to become
  a divisional company of General Electric Federal Systems.  He was transferred to support
  U. S. Army Intelligence system at Fort Huachuca Arizona.
  
  <p>
  In 1996 retired for defense work to begin a consulting career with Geologics Consulting
  at NASA's Johnson Space Center in Houston Texas.  As a consultant to Raytheon in the
  On Board Computer Systems group of the Space Station Training Facility Mr. VanHoozer's
  technical leadership capabilities were responsible for several significant performance
  break innovations in network protocol messaging.  His technical accomplished resulted
  in an award of a sole source contract to his client which had eluded solution for several
  years.
  
  <p>
  After the attacks on 9/11 Mr. VanHoozer was once again called into service in support
  of critical Department of Defense programs - this time as an employee of Raytheon
  Information Systems and Simulations in Washington D. C.  He first project involved the
  completion of the U. S. Army Central Command Deployable Headquarters which became
  the forward command center during Operation Iraqi Freedom.  His next assignment was in
  support of the research and development efforts of the Joint Intelligence, Surveillance
  and Reconnaissance system which was deployed in support of the U. S. Army and the U. S. Marine
  Corp.
  
  <p>
  At the conclusions of Raytheon's contract in support of the Joint Precision Strike Demonstration (JPSD)
  contract, Mr. VanHoozer transferred to SAIC the new lead contractor for JPSD where
  he continued his R&D work as Chief Engineer for the Theater Effects-base Operations program.
  
  <p>
  In 2005 after the successful deployment of the TEBO program to DoD Pacific Command U. S. Forces
  Korea, Mr. VanHoozer accepted a new position with Lockheed Martin Missiles and Fire Control
  in Dallas Texas working in the modeling and simulation group of the Medium Extended Air Defense System
  as a cost account manager.  After a year of managing budgets and schedules, he was happily
  transferred to LMMFC's Virtual Reality Systems Integration Lab as its Senior Staff System Engineer
  where he returned to leading small teams in complex R&D efforts.  These efforts over 5 years resulted
  in over $63 million in new sales.
  
  <p>
  In 2011 Mr. VanHoozer retired once again from defense work to pursue research and development activities
  outside the defense industry.
  
  <span class="center"><img src="/images/under_construction.gif" alt="Placeholder" /></span>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

