<div id="content_item">
  <h1>Industries</h1>
  <p>
  Mr. VanHoozer has worked in many industries during his carear of
  30 plus years developing software.
  
  <ul>
    <li><a href="/industries_defense">Defense</a></li>
    <li><a href="/industries_nasa">NASA</a></li>
    <li><a href="/industries_oil_and_gas">Oil and Gas</a></li>
    <li><a href="/industries_consultancy">Consultancy</a></li>
    <li><a href="/industries_games">Games</a></li>
  </ul>

  
  <span class="center"><img src="/images/under_construction.gif" alt="Placeholder" /></span>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

