<div id="content_item">
  <h1>Theater Effects-based Operations Project</h1>
  
  <span class="left"><img src="images/TEBO.jpg" alt="TEBO a project of the JPSD" height="310" width="298" /></span>
  Mr. VanHoozer's role in the TEBO project was as the Chief Engineer reporting to the project manager
  specifically charged with the acquisition of advanced technology and integration.  In this
  role Mr. VanHoozer worked with various commercial vendors and academic
  programs around the country in the development and refinement of advanced
  technologies to be integrated as part of the overall TEBO system.

  <p>
  As Acquisition and Integration Manager Mr. VanHoozer was responsible for sub-contractor
  management, generation of request for proposals (RFP) and statements of work (SOW).  In addition
  he acted in the role of coordinating point-of-contact with
  the various university research programs. the United States Air Force Research Lab, 
  the Army Research Lab and the Defense
  Advanced Research Projects Agency (DARPA).

  <h2>Project Description</h2>

  <p>
  The concept of Effects-based Operations (EBO) is unclassified.  It is freely
  available online at 
  <a src="http://en.wikipedia.org/wiki/Effects-based_operations">
    http://en.wikipedia.org/wiki/Effects-based_operations
  </a>
  
  <p> 
  The article cited above makes note of the abandonment 
  by the Joint Forces Command (JFCOM)
  of the EBO concept as
  a result of the failure of their TEBO program.  It is important to recognize that
  there were two projects with the same TEBO name.  The one project for which
  Mr. VanHoozer was the Chief Engineer was run out of the 
  Joint Precision Strike Demonstration (JPSD) Intelligence and Electronic
  Warfare and Sensors (IEW&S)
  executive program office reporting to the assistant secretary of defense.
  This program was successfully deployed within the Pacific
  Command's (PACOM) United States Forces Korea (USFK) and Combined
  Forces Command (CFC) area of operations.
  
  <p>
  The other unsuccessful project was an internally developed project of the
  Joint Forces Command (JFCOM) which was in competition with the JPSD project
  for R&D funds.  As an aside, JFCOM was disbanded just a few years after
  their decision to abandon EBO research and development.
  
  <p>
  TEBO, in terms of mission planning, sets in between tactical and strategic considerations.
  It is applied by theater-based information warfare groups for the purpose of
  defining tactical-level non-lethal (for example) operations that have a
  desired strategic outcome (effect).
  
  EBO in general is a hard science problem that involves human terrain
  modeling and simulation and tactics, techniques and procedures (TTP).  As such
  the JPSD program had both a software-science toolbox that is used
  in a new staff process for mission planning.  With TEBO the focus is
  no longer on blowing things up but rather the most effective way of
  accomplishing a desired outcome.
  
  <h2>EBO In a Nutshell</h2>
  <ul>
    <li>An Approach Focusing on an Adversary’s Behavior and the Specific Effects Necessary to Alter That 	Behavior Consistent With National and/or International Objectives 
    <li>A Process That:
    <ul>
      <li>Measures Success Based on Effects to be Achieved Vice Attrition Based Action Accomplishment
      <li>Emphasizes The Commander’s Intent by Focusing Tasking on Ends Vice Means 
      <li>Brings to Bear all Elements of National Power, I.E. Diplomatic, Information, Military, Economic 	(DIME) 
      <li>Provides for System of Systems Analysis (SOSA) Across Adversarial Political, Military, 	Economic, Social, Information and Infrastructure (PMESII) Subsystems to Take Into 	Consideration all Consequences of Actions; Unintended & Undesired as Well as Intended & 	Desired
      <li>Prescribes Close Tracking of Activity Dependencies, to Enable Effective Adaptation to  	Situations as They Evolve
      <li>Enables Consideration of a Comprehensive set of “Course of Action (COA)” Options, Subject 	to Factors Such as Probability of Success, Risk, Cost, Collateral Damage, and DIME Wide 	Objectives
    </ul>
  </ul>
  
  <h2>Concept</h2>
  <p>
  Effects-based operations are "a process for obtaining a desired strategic 
  outcome or effect on the enemy through the synergistic and cumulative 
  application of the full range of military and nonmilitary capabilities 
  at all levels of conflict." The intent and desired outcome of an 
  effects-based approach is to employ forces that paralyze the enemy 
  forces and minimize its ability to engage friendly forces in close 
  combat.

  <p>
  Rather than focusing specifically on causing casualties and physical 
  destruction resulting in the attrition or annihilation of enemy forces,
  effects-based operations emphasizes end-state goals first, and then 
  focuses on the means available to achieve those goals. For instance, 
  psychological operations, electronic warfare, logistical disruptions 
  and other non-lethal means can be used to achieve the demoralization 
  or defeat of an enemy force while minimizing civilian casualties or 
  avoiding the destruction of infrastructure. While effects-based operations 
  does not rule out lethal operations, it places them as options in a 
  series of operational choices for military commanders.
 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

