<div id="content_item">
  <h1>JISR Project</h1>
  <span class="left"><img src="images/JISR.gif" alt="JISR a project of the JPSD" /></span>
  Mr. VanHoozer's role in the JISR project was as the 2nd deputy to the project manager
  specifically charged with the acquisition of advanced technology and integration.  In this
  role Mr. VanHoozer worked with various commercial vendors and academic
  programs around the country in the development and refinement of advanced
  geospacial technologies to be integrated as part of the overall JISR system.

  <p>
  As Acquisition and Integration Manager Mr. VanHoozer was responsible for sub-contractor
  management, generation of request for proposals (RFP) and statements of work (SOW).

  <h2>Project Description</h2>

  <p>
  This project description is unclassified.  It is freely
  available online at 
  <a src="https://www.iec.belvoir.army.mil/jisr/jisr.htm">
    https://www.iec.belvoir.army.mil/jisr/jisr.htm
  </a>
  
  <p>
  The Joint Intelligence, Surveillance, and 
  Reconnaissance (JISR) Advanced Concept Technology Demonstration (ACTD) comprise a joint 
  capability to produce a user-defined situational 
  awareness picture of relevant information from a 
  select list of sources in a comprehensive, 
  responsive, and timely manner.&nbsp; This allows military 
  decision-makers to gain and maintain an information 
  advantage over an adversary.
  
  <p>
  The JISR approach to the integration of these three 
  warfighting elements allows military planners and 
  operators to share intelligence information at the 
  national, theater, and tactical levels of control.&nbsp; 
  JISR emphasizes collaboration and quick exchanges 
  between information gatherers and users. These new 
  integrated capabilities replace antiquated, 
  single-intelligence-specific tactics, techniques, 
  and procedures, resulting in the delivery of timely, 
  relevant information to the decision-making process 
  within all levels of joint operations and 
  disadvantaged users who do not possess the 
  traditional systems of record that are affiliated 
  within the intelligence arenas.
  
  <p>
  JISR combines certain components of the three 
  distinct missions it embodies.
  
  <p>
  <i>Intelligence</i>&#8212;The product which results from 
  the collection, processing, integration, analysis, 
  evaluation, and interpretation of available 
  information concerning foreign countries or areas.
  
  <p>
  <i>Surveillance</i>&#8212;The systematic or sustained 
  observance of aerospace, surface, or sub-surface 
  areas, places, persons, or things by visual, aural, 
  electronic, photographic, or other means.
  
  <p>
  <i>Reconnaissance</i>&#8212;A mission to obtain, by 
  transitory, visual observations, information about 
  the activity and resources of an adversary, or to 
  secure data concerning the meteorological, 
  hydrographic, or geographic characteristics of a 
  particular region.

  <h2>Concept</h2>
  <p>
  The JISR concept grew out of the ISR Integrated 
  Capstone Strategic Plan developed by the office of 
  the U.S. Assistant Secretary of Defense for Command, 
  Control, and Communications (USASDC<sup>3</sup>).&nbsp; 
  JISR draws upon these seven components of that plan:

  <p>
  <i>Information Infrastructure</i>&#8212;The communications 
  engine that enables the integration of the ISR 
  community with other functional communities.
  
  <p>
  <i>Operations/ISR Integration</i>&#8212;The incorporation 
  of operational processes into ISR processes, from 
  strategy development through acquisition and 
  planning to execution and assessment.
  
  <p>
  <i>Cross-Domain Integration</i>&#8212;The assimilation of 
  ISR requirements management, collection tasking, 
  product delivery, and processing and exploitation, 
  allowing the creation of a capability superior to 
  that of spaceborne, airborne, maritime, or 
  terrestrial systems.
  
  <p>
  <i>ISR Integration</i>&#8212;The combinations of all 
  available ISR information and application methods to 
  better assist in the clarification of target status, 
  movement, and enemy intent.
  
  <p>
  <i>Interactive Collection Management</i>&#8212;The 
  provision of ISR information across all intelligence 
  disciplines through battlespace and asset 
  visualization, integration with real-time 
  operations, and the sharing of operations and 
  intelligence information.
  
  <p>
  <i>Collectors And New Capabilities</i>&#8212;Investment 
  strategies and migration plans to achieve a 
  balanced, integrated, cost-effective force mix of 
  spaceborne, airborne, maritime, and terrestrial 
  sensors and platforms.
  
  <p>
  <i>Multi-Intelligence Collaboration</i>&#8212;The 
  provision of near real-time collaborative tasking, 
  processing, exploitation, and dissemination to 
  national, theater, and tactical facilities that may 
  be separated by extremely short or long distances.
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

