<div id="content_item">
  <h1>Roles</h1>
  
  <p>
  In Mr. VanHoozer's carer he has worn the hat of
  <a href="/roles_manager">manager</a>,
  <a href="/roles_leader">leader</a>,
  and
  <a href="/roles_developer">developer</a>
  sometimes all at the same time.  As a manager, he has controlled the budget and 
  maintained the schedule
  ensuring his teams have all the resources they need to get the job done.  As a leader
  focused on the requirements, he sets
  the example for his team, inspiring them to be more than they thought they could be.
  As a developer, his devotion to lifelong learning ensures that the right tool is used
  for the right job.
  
  <span class="center"><img src="/images/under_construction.gif" alt="Placeholder" /></span>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

