<div id="content_item">
  <h1>Lockheed Martin Missiles and Fire Control (LMMFC)</h1>
  <h2>2005 - 2011</h2>

  <p>
  <span class="left">
    <a href="http://www.lockheedmartin.com/us/mfc.html" title="Click here to go to the LMMFC website">
      <img src="/images/lmmfc.png" alt="LM Logo" />
    </a>
  </span>
  When Mr. VanHoozer started at LMMFC he was offered three different positions.  Having
  no preference he said "put me where it hurts the most" - and they did.  He was assigned
  to the
  <a href="http://www.lockheedmartin.com/us/products/meads.html">
  Medium Extended Air Defense System (MEADS)
  </a>
  project a cooperative program between Germany, Italy and the United States.  His initial
  position was within the modeling and simulation (M&S) division in charge of the algorithms development
  group and the threat assessment group.

  <p>
  The first thing Mr. VanHoozer did after taking over
  was to install software configuration management (SCM) control using the subversion SCM 
  free and open source (FOSS)
  product.  Acting in the position as chairman of the configuration control board (CCB) Mr. VanHoozer
  was able to bring a consistent engineering process to the software development efforts.
  
  <p>
  The M&S division had just begun using the earned value management system (EVMS) and was having
  trouble with its implementation.  Having managed previous EVMS projects Mr. VanHoozer took over
  as the cost account manager for all work packages within the division.  After one year on the
  MEADS project Mr. VanHoozer had successfully turned things around with all work packages showing
  "green" in budget and schedule.

  <p>
  Mr. VanHoozer was given technical leadership as Senior Staff Systems Engineer over the
  <a href="http://www.youtube.com/watch?v=yAGZwHmq5OE">
  Virtual Reality Systems Integration Lab (VRSIL).
  </a>
  The video below of the VRSIL's prototyping capability was made public in the summer of
  2010.  It took a long time to get approval for its releasing.  For over 16 years
  the VRSIL has been a key player in the development of advanced military concepts
  within LMMFC's Applied Research directorate.
  
  <p>
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
    width="560" height="340" 
    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
    <param name="allowFullScreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="src" value="http://www.youtube.com/v/yAGZwHmq5OE&amp;hl=en_US&amp;fs=1&amp;" />
    <param name="allowfullscreen" value="true" />
    <embed type="application/x-shockwave-flash" width="560" height="340"
      src="http://www.youtube.com/v/yAGZwHmq5OE&amp;hl=en_US&amp;fs=1&amp;"
      allowscriptaccess="always" allowfullscreen="true" />
  </object>

  <p>
  The exceptional staff and internally developed tools within the VRSIL allowed
  LMMFC to
  rapidly perform product testing in custom, realistic virtual environments, 
  saving development costs by improving product prototypes on the spot and 
  quickly progressing to new testing phases, ultimately improving the 
  affordability of the system.

  <p>
  The VRSIL's unique capabilities include models and simulation systems, 
  real-time visualizations, human-in-the-loop/human factor experiments, 
  and post-processed visuals for analysis and marketing.
  
  <p>
  The VRSIL functioned as an internal incubator for new product ideas.  Company
  engineers who had ideas for product improvement or new products, once approved
  by a vetting process, would come to the VRSIL to prototype their ideas.  The
  prototyping process was used for proof of concept, risk reduction and requirements
  clarification.  Mr. VanHoozer as the Senior Staff Systems Engineer of the VRSIL was
  involved in all technical aspects of the lab's operation.
  
  <p>  
  One of the key tools within the VRSIL is the Integrated System Environment (ISE)
  - a Ruby-based product -
  which was developed by Mr. VanHoozer.  C++ and Java-based components were added to
  the basic ISE product under the leadership of Mr. VanHoozer.
  In the spring of 2011 a financial audit of the VRSIL credited the ISE tool
  with over $63 million in new business.
  
  <p>
  The concepts behind ISE were presented by Mr. VanHoozer at the 2011 International
  Ruby Conference.  A link to a video of his talk is located in the
  sidebar under the Presentations heading.

  <p>
  Due to the nature of the work done within the VRSIL the Ruby Conference and the teaser
  video shown above are the only publicly available air and missile defense material
  associated with the lab.

  <p>
  Because of its commercial nature more information is available about
  the MicroGrid project whose prototype was created in the VRSIL.
  A description of the Lockheed MicroGrid project is located
  <a href="http://www.lockheedmartin.com/us/products/intelligentmicrogridsolutions.html">
  here.
  </a>

  <p>
  This project was started in the VRSIL as a prototype simulation
  of the
  system and its intelligent control protocols.  The prototype simulations
  proved the concept.  The Ruby/Rails-based prototype was used to tweak the
  original control algorithms sufficiently to get customer buy-in.  With
  the first customer on-board the MicroGrid Demonstration Center was built
  to help sell the concept to other clients.

  <p>
  <a href="http://www.youtube.com/watch?v=m59oyx0cwEw">
  A engineering video of the MicroGrid project
  </a>
  was produced in the VRSIL based upon simulation data
  obtained from the Ruby/Rails based prototype for which 
  Mr. VanHoozer was responsible.
    
  <p>
  In November 2011 due to a company-wide layoff Mr. VanHoozer and the staff
  within the lab who were part of the company's overhead R&D budget
  were released.  The lab was reorganized and moved from the Applied Research
  directorate to the Software Engineering directorate.
  
  <%= prev_next("roles_saic", "") %>
  
</div>

