<div id="content_item">
  <h1>Science Applications International Corporation (SAIC)</h1>
  <h2>2003 - 2005</h2>

  <p>
  <span class="left">
    <a href="https://www.saic.com/" title="Click here to go to the SAIC website">
      <img src="/images/saic.gif" alt="SAIC Logo" />
    </a>
  </span>
  SAIC was the sub-contractor to Raytheon (the prime) on the Joint Precision
  Strike Demonstration (JPSD) contract.  During a
  rebid effort SAIC chose to bid against Raytheon for the prime contractor lead.  SAIC won
  the contract.  After SAIC took control of the JPSD contract - now known as
  <a href="https://www.iec.belvoir.army.mil/overview.htm">
  Joint Programs Sustainment and Development
  </a> - Mr. VanHoozer was one of only two people transferred to the new
  contract as employees of SAIC.
    
  <p>
  <span class="left">
    <a href="https://www.iec.belvoir.army.mil/tebo_secure/tebo.htm" title="Click here for the TEBO home page">
      <img src="/images/TEBO.jpg" alt="TEBO Logo" />
    </a>
  </span>
  As Chief Engineer for the Theater Effects Based Operations (TEBO) 
  project, Mr. VanHoozer over-saw all of the technical aspects
  of the Java-based system.  He worked closely with the Chief Architect to define and implement
  the overall architecture of the system.  He was also responsible for sub-contract management and
  for the acquisition of advanced technology to integrate into the system.  In this
  role Mr. VanHoozer worked with university research groups and national labs on
  the difficult problems associated with the effects-based operations (EBO) concepts.

  <p>
  In his role as sub-contracts manager for TEBO, Mr. VanHoozer wrote both requests for proposals (RFP) and
  statements of work (SOW).

  <p>
  The
  <a href="https://www.iec.belvoir.army.mil/tebo_secure/tebo.htm">
  Theater Effects Based Operations (TEBO)
  </a> was successfully deployed as both a set of software tools and a change
  in the traditional tactics, techniques and procedures (TTP) associated
  with mission planning
  to <a href="http://www.pacom.mil/">Pacific Command (PACOM)</a>
  <a href="http://www.usfk.mil/usfk/">U.S. Forces Korea (USFK)</a> and
  the Combined Forces Command (CFC).


  <p>
  After the successful deployment of the TEBO system into the Korean theater, Mr. VanHoozer
  left SAIC to work on air and missile defense systems with Lockheed Martin Missiles and Fire
  Control in Dallas Texas.
  
  <%= prev_next("roles_raytheon", "roles_lmmfc") %>

</div>

