<div id="content_item">
  <h1>Details</h1>
  
  <p>
  The web pages that follow provide some details on the roles and responsibilities
  that Mr. VanHoozer has executed over the years.
  
  <p>
  In Mr. VanHoozer's career he has worn the hat of
  manager, leader and developer -
  sometimes all at the same time.  As a manager, he has controlled the budget and 
  maintained the schedule
  ensuring his teams have all the resources they need to get the job done.  As a leader
  focused on the requirements, he sets
  the example for his team, inspiring them to do the best possible job.
  As a developer, his devotion to lifelong learning ensures that the right tool is used
  for the right job.
  
  <table>
    <tr>
      <td>1983 - 1995</td>
      <td><a href="/roles_telos">TELOS Corporation< / GE Federal Systems</a></td>
    </tr>

    <tr>
      <td>1996 - 2001</td>
      <td><a href="/roles_geologics">GeoLogics at Raytheon Aerospace</a></td>
    </tr>

    <tr>
      <td>2001 - 2003</td>
      <td><a href="/roles_raytheon">Raytheon Intelligence and Information Systems (IIS)</a></td>
    </tr>

    <tr>
      <td>2003 - 2005</td>
      <td><a href="/roles_saic">SAIC Information Technology and Simulations</a></td>
    </tr>

    <tr>
      <td>2005 - 2011</td>
      <td><a href="/roles_lmmfc">Lockheed Martin Missiles and Fire Control</a></td>
    </tr>

  </table>

  <%= prev_next("about", "roles_telos") %>

  
</div>

