<div id="content_item">
  <h1>Lockheed Martin Missiles and Fire Control (LMMFC)</h1>
  <h2>2005 - 2011</h2>

  <p>
  <span class="left">
    <a href="http://www.lockheedmartin.com/us/mfc.html" title="Click here to go to the LMMFC website">
      <img src="/images/lmmfc.png" alt="LM Logo" />
    </a>
  </span>
  When Mr. VanHoozer started at LMMFC he was offered three different positions.  Having
  no preference he said "put me where it hurts the most" - and they did.  He was assigned
  to the
  <a href="http://www.lockheedmartin.com/us/products/meads.html">
  Medium Extended Air Defense System (MEADS)
  </a> project.

  <h2>MEADS</h2>

  <p>
  The MEADS project is a cooperative program between Germany, Italy and the United States. 
  Mr. VanHoozer's initial
  position was within the modeling and simulation (M&S) division in charge of both the algorithms development
  group and the threat assessment group.

  <p>
  The first thing Mr. VanHoozer did after taking over
  was to install software configuration management (SCM) control using the subversion SCM 
  free and open source (FOSS)
  product.  Acting in the position as chairman of the configuration control board (CCB) Mr. VanHoozer
  was able to bring a consistent engineering process to the software development efforts.
  
  <p>
  The M&S division had just begun using the earned value management system (EVMS) and was having
  trouble with its implementation.  Having managed previous EVMS projects Mr. VanHoozer took over
  as the cost account manager for all work packages within the division.  After one year on the
  MEADS project Mr. VanHoozer had successfully turned things around with all work packages showing
  "green" in both budget and schedule.

  <h2>VRSIL</h2>

  <p>
  Mr. VanHoozer was given technical leadership as Senior Staff Systems Engineer over the
  <a href="http://www.youtube.com/watch?v=yAGZwHmq5OE">
  Virtual Reality Systems Integration Lab (VRSIL).
  </a>
  The video below of the VRSIL's prototyping capability was made public in the summer of
  2010.  It took almost a year to get approval for the public release.  For over 16 years
  the VRSIL has been responsible for the development of advanced military concepts
  within LMMFC's Applied Research directorate.
  
  <p>
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
    width="560" height="340" 
    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
    <param name="allowFullScreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="src" value="http://www.youtube.com/v/yAGZwHmq5OE&amp;hl=en_US&amp;fs=1&amp;" />
    <param name="allowfullscreen" value="true" />
    <embed type="application/x-shockwave-flash" width="560" height="340"
      src="http://www.youtube.com/v/yAGZwHmq5OE&amp;hl=en_US&amp;fs=1&amp;"
      allowscriptaccess="always" allowfullscreen="true" />
  </object>

  <p>
  The exceptional staff and internally developed tools within the VRSIL allowed
  LMMFC to
  rapidly perform product testing in custom, realistic virtual environments, 
  saving development costs by improving product prototypes on the spot and 
  quickly progressing to new testing phases, ultimately improving the 
  affordability of the system.

  <p>
  During his tenure as the Sr. Staff Systems Engineer for the VRSIL, Mr. VanHoozer was
  appointed to the corporate Modeling and Simulation Technical Focus Group and the
  Advanced Software Technologies Technical Focus Group.

  <p>
  The VRSIL's unique capabilities include models and simulation systems, 
  real-time visualizations, human-in-the-loop/human factor experiments, 
  and post-processed visuals for analysis and marketing.
  
  <p>
  The VRSIL functioned as an internal incubator for new product ideas.  Company
  engineers who had ideas for product improvement or new products, once approved
  by a vetting process, would come to the VRSIL to prototype their ideas.  The
  prototyping process was used for proof of concept, risk reduction and requirements
  clarification.  Mr. VanHoozer as the Senior Staff Systems Engineer of the VRSIL was
  involved in all technical aspects of the lab's operation.
  
  <p>
  When Mr. VanHoozer took over as the Sr. Staff Systems Engineer for the VRSIL, he made
  some basic changes.  The first change was to institute comprehensive 
  software configuration management (SCM) and
  backup processes to protect the corporation's intellectual property.  He introduced
  the Ruby programming language as the dynamic language of choice 
  for rapid prototyping within the lab.  This
  brought the rich Rails and Sinatra libraries along as the web-based GUI prototyping capability.
  
  <p>
  Other changes put in place within the VRSIL by Mr. VanHoozer included an adaption of the company's
  software development process to incorporate the basic principles of the agile methodology.  This
  agile process included aspects of pair programming and continuous integration (CI).
  
  <p>
  CruseControl was the first CI tool installed in the VRSIL by
  Mr. VanHoozer.  After a few years as Java-based development projects were hosted within
  the lab, Mr. VanHoozer
  changed the CI process to use the Hudson (later Jenkins) product.

  <h3>ISE</h3>

  <p>
  One of the key tools within the VRSIL is the Integrated System Environment (ISE)
  - a Ruby-based product -
  which was developed by Mr. VanHoozer.  C++ and Java-based components were added to
  the basic ISE product under the leadership of Mr. VanHoozer.
  In the spring of 2011 a financial audit of the VRSIL credited the ISE tool
  with over $63 million in new business.
  
  <p>
  ISE enables the dynamic integration of existing and new systems and simulations 
  using diverse communications protocols.  As of May 2011 ISE has approximately 
  142,600 lines of Ruby code.  This accounts for almost 80% of the total ISE system.
  The line count given does not include any of the Sinatra-based service-oriented 
  architecture (SOA) utilities or Rails model view controller (MVC) 
  web-applications developed to support ISE.

  <p>
  In addition to ISE, Mr. VanHoozer has personally written, re-written or directly 
  supervised over 395,000 lines of simulation and prototype systems developed in the 
  Ruby language.  These systems take advantage of the enabling infrastructure provided 
  by ISE.
  
  <p>
  Mr. VanHoozer has been directly involved in the development of six real-time Rails 
  applications.  These applications were bleeding-edge push technology-based prototype 
  stand-ins for applications later delivered in C++, QT and Java for deployment to 
  customers.
  
  <p>
  One customer determined that their Ruby-based prototype was so good that they deployed 
  it to their operations center while waiting on the final applications to be 
  completed.  In order to do this the customer applied for and received special 
  circumstances exemption from their higher headquarters.  This also resulted 
  in a new unexpected contract to provide training and support of the prototype while the 
  objective system was still under development.

  <p>
  The concepts behind ISE were presented by Mr. VanHoozer in
  <a href="http://www.youtube.com/watch?v=MafncIr9SSg">
    <i>The Secret Life of Ruby: Warrior With A Cause</i></a> at the 2011 International
  Ruby Conference.
  
  <h3>Advanced Air and Missile Defense</h3>

  <p>
  Due to the nature of the work done within the VRSIL the teaser
  video shown above is the only publicly available air and missile defense material
  associated with the lab.  Within the VRSIL an advanced air defense synthetic environment
  (AADSE) was created to explore various ideas with regard to basic command
  and control (C2) scenarios.  The AADSE allowed for the war gaming of different
  attack and defense scenarios in different parts of the world.

  <h3>MicroGrid</h3>

  <p>
  Because of its commercial nature more information is available about
  the MicroGrid project whose prototype was created in the VRSIL.
  A description of the Lockheed MicroGrid project is located
  <a href="http://www.lockheedmartin.com/us/products/intelligentmicrogridsolutions.html">
  here.
  </a>

  <p>
  This project was started in the VRSIL as a prototype simulation
  of the
  system and its intelligent control protocols.  The prototype simulations
  proved the concept.  The Ruby/Rails-based prototype was used to tweak the
  original control algorithms sufficiently to get customer buy-in.  With
  the first customer on-board the MicroGrid Demonstration Center was built
  to help sell the concept to other clients.

  <p>
  <a href="http://www.youtube.com/watch?v=m59oyx0cwEw">
  An engineering video of the MicroGrid project</a> was 
  produced in the VRSIL based upon simulation data
  obtained from the Ruby/Rails based prototype for which 
  Mr. VanHoozer was responsible.
    
  <p>
  In November 2011 due to a company-wide layoff Mr. VanHoozer and the staff
  within the lab who were part of the company's overhead R&D budget
  were released.  The lab was reorganized and moved from the Applied Research
  directorate to the Software Engineering directorate.
  
  <%= prev_next("roles_saic", "") %>
  
</div>

