<div id="content_item">
  <h1>Raytheon Intelligence and Information Systems (IIS)</h1>
  <h2>2001 - 2003</h2>

  <p>
  <span class="left">
    <a href="http://www.raytheon.com/businesses/riis/" title="Click here to go to the Raytheon IIS website">
      <img src="/images/rtn_logo.gif" alt="Raytheon Logo" />
    </a>
  </span>
  After the attack of 9/11 Mr. VanHoozer was hired by Raytheon IIS in Springfield
  Virginia located outside of Washington D.C. as a senior member of the engineering
  staff in support of the <a href="https://www.iec.belvoir.army.mil/overview.htm">
  Joint Precision Strike Demonstration (JPSD)
  </a> contract which was later renamed
  Joint Programs Sustainment and Development.

  <p>
  While waiting for his security clearance to be granted, Mr. VanHoozer was
  assigned a task to study the communications problems of the
  9/11 first responders.  Mr. VanHoozer wrote a white paper which
  identified incompatible radio systems as a core first responder problem area.
  He identified JPS Communications a small company
  working in the ham radio industry as having interesting solutions for
  cross radio system signal repeating.  The technique used by JPS Communications could be applied to
  the commercial radio systems used by the first responders to enable each agency to
  communicate with each other agency.  JPS Communications was subsequently purchased by Raytheon
  and is now operated as a wholly own subsidiary.
  
  <p>
  Because of Mr. VanHoozer's prior experience working military intelligence
  programs his security clearance was quickly granted.  His first classified
  assignments dealt with the analysis of the requirements of the
  <a href="http://www.centcom.mil/">
  Central Command (CENTCOM)
  </a> deployable headquarters (CDHQ) presently deployed in Qatar and
  the
  Office of Coalition and Provisional Authority (OCPA) now based in Baghdad, Iraq.
  
  <p>
  <span class="left">
    <a href="https://www.iec.belvoir.army.mil/jisr/jisr.htm" title="Click here to go to the JISR website">
      <img src="/images/JISR.gif" alt="JISR Logo" />
    </a>
  </span>
  Mr. VanHoozer was requested by the project manager for the
  <a href="https://www.iec.belvoir.army.mil/jisr/jisr.htm" title="Click here to go to the JISR website">
  Joint Intelligence, Surveillance, and Reconnaissance (JISR)
  </a> an
  Advanced Concept Technology Demonstration (ACTD) program managed by
  the JPSD Intelligence, Electronic Warfare and Sensors (IEW&S) Program
  Executive Office (PEO).  On this web-based project Mr. VanHoozer was assigned by the
  JISR project manager to act as the advanced technology R&D engineer and
  sub-contractor manager.  In this position Mr. VanHoozer worked with
  university research groups, national labs and small R&D companies on the development of
  advanced technology for integration with the JISR system.  One of the
  areas of principle interest was the geographic depiction of documents to specific
  geospatial coordinates based upon document natural language processing.
  Other areas of interest to the JISR project involved
  knowledge management and ontological development.

  
  <p>
  As the sub-contracts manager for JISR, Mr. VanHoozer wrote both requests for proposals (RFP) and
  statements of work (SOW).
  
  <p>
  JISR was a very successful program.  Its potential was obvious early on
  to CENTCOM commanders.  The commanding general for U.S. Army V Corp wrote a
  letter to the Office of the Secretary of Defense (OSD) requesting additional funding
  for the JISR program so that it could be made available for military use prior to the
  start of Operation Iraqi Freedom (OIF).  The funding was made available and the JISR
  schedule was accelerated to meet the time table set for OIF.
  
  <p>
  The JISR software and hardware systems were shipped to the combat area, its users were trained
  in sufficient time to support the military operations against the Iraqi forces.
  
  <p>
  After the "declared end" to OIF, the JPSD contract was rebid.  This time SAIC chose to
  compete against Raytheon as the prime contractor and they won.  Mr. VanHoozer was one
  of only two Raytheon employees on the JPSD contract to transition to the new contract
  as an SAIC employee.

  <%= prev_next("roles_geologics", "roles_saic") %>
  
</div>

