<div id="content_item">
  <h1>Details</h1>
  
  <p>
  The web pages that follow provide some details on the roles and responsibilities
  that Mr. VanHoozer has executed over the years.
  
  <p>
  In Mr. VanHoozer's career he has worn the hat of
  manager, leader and developer -
  sometimes all at the same time.  As a manager, he has controlled the budget and 
  maintained the schedule
  ensuring his teams have all the resources they need to get the job done.  As a leader
  focused on the requirements, he sets
  the example for his team, inspiring them to do the best possible job.
  As a developer, his devotion to lifelong learning ensures that the right tool is used
  for the right job.
  
  <table>
    <tr>
      <td>1983 - 1995</td>
      <td><a href="/roles_telos">TELOS Corporation< / GE Federal Systems</a></td>
    </tr>

    <tr>
      <td>1996 - 2001</td>
      <td><a href="/roles_geologics">GeoLogics at Raytheon Aerospace</a></td>
    </tr>

    <tr>
      <td>2001 - 2003</td>
      <td><a href="/roles_raytheon">Raytheon Intelligence and Information Systems (IIS)</a></td>
    </tr>

    <tr>
      <td>2003 - 2005</td>
      <td><a href="/roles_saic">SAIC Information Technology and Simulations</a></td>
    </tr>

    <tr>
      <td>2005 - 2011</td>
      <td><a href="/roles_lmmfc">Lockheed Martin Missiles and Fire Control</a></td>
    </tr>

  </table>
  
  <p>
  As a technical leader Mr. VanHoozer has the following typical responsibilities:

<ul>
  <li>Overseeing the ...
  <ul>
    <li>technical approach, design, and solutions of software systems to ensure completion of projects as efficiently and effectively as possible per the project plans
    <li>quality of the software systems produced by the group
    <li>quality of the group’s technical outputs such as requirements, design, test procedures, and test results
  </ul>
  <li>Participates in the development of the products by contributing to the specifications, designs, and implementation of the software products
  <li>Ensuring the team is executing per the development process
  <li>Working through impediments the team may experience at any given time
  <li>Coordinating with all project stakeholders, including internal and external customers, to ensure buy-in and that delivered products meet stakeholder and customer needs
  <li>Ensuring the competency and capacity of the group can meet the needs of current and upcoming projects
  <li>Ensuring solid technical relationships are formed and maintained with suppliers and customers
  <li>Overseeing software systems solution development for new business activities
  <li>Developing and maintaining a software engineering process based on product development best practices
  <li>Enabling the process through the effective use of up-to-date tools and technology
  <li>Overseeing the group’s personnel professional development and training
  <li>Performing personnel objective setting, performance appraisals, and compensation adjustments
  <li>Communicating effectively with employees, customers, suppliers and executive management
  <li>Contributing to company overall strategies and goals, training program, policies, & procedures   
</ul>




  <%= prev_next("about", "roles_telos") %>

  
</div>

