<div id="content_item">
  <h1>GeoLogics Consulting</h1>
  <h2>1996 - 2001</h2>

  <p>
  <span class="left">
    <a href="http://www.geologics.com/" title="Click here to go to the GeoLogics website">
      <img src="/images/geologics.gif" alt="GeoLogics Logo" />
      <br />
      <img src="/images/rtn_logo.gif" alt="Raytheon Logo" />
    </a>
  </span>
  Mr. VanHoozer was employed by GeoLogics as a consultant to Raytheon Aerospace on the Space Station Training
  Facility (SSTF) contract at the National Aeronautics and Space Administration (NASA)
  Johnson Space Center (JSC) in Clearlake Texas located south of Houston.
  
  <p>
  <span class="center">
    <img src="/images/iss_6287311_620x350.jpg" alt="International Space Station" />
  </span>

  <p>
  Because of his extensive experience in training systems and communications protocols, Mr. VanHoozer was assigned
  to the On-board Computer Systems (OBCS) group.  This group was responsible for all modeling
  and simulations of of every computer system on-board the International Space Station.  This included
  the avionics systems implemented in portable laptop computers as well as the more powerful
  multiplexer/demultiplexer systems that support the internal ISS network and science systems.
  
  <p>
  Mr. VanHoozer as a Senior Software Engineer worked closely with the Systems Engineering section
  to ensure every requirement was a fair repersentation of the corresponding live flight requirements while
  tailoring the flow down requirements for each flight to SSTF special needs.  Mr. VanHoozer was
  placed in charge of the critical ORUDB functionality.  The ORUDB consisted of all of the software
  functionality that enabled the communication of simulation data over all of the simulation
  networks within the SSTF.
  
  <p>
  The original architecture of the ORUDB as created by the original author had a fatal flaw that
  impacted performance of the entire SSTF.  Mr. VanHoozer re-architected the ORUDB and achieved a
  three thousand percent (3000%) increase in overall communications through put.  For this
  innovation Mr. VanHoozer received an award of excellence from NASA.
  
  <p>
  Because of the success of the ORUDB speedup, Raytheon asked Mr. VanHoozer to take a look at a
  special problem that NASA had for which the company had failed twice at developing a solution.
  After a weekend of thought and 54 slides later, Mr. VanHoozer's solution was presented to NASA
  which approved the approach and gave Raytheon a sole-source contract to implement.
  
  <p>
  Mr. VanHoozer was put in charge of the effort.  He had originally estimated a two person
  team 6 months to complete the project.  After 4 months Mr. VanHoozer alerted management that the
  schedule would have to slip two additional months to ensure that all of the technical
  requirements were implemented and tested.  NASA approved the extension.  The project
  involved a way in which both live telemetry and simulated telemetry could be fed to
  the training operators of the SSTF.  This capability allowed the SSTF to be
  directly connected with live telemetry from the ISS for monitoring and troubleshooting purposes.
  
  <p>
  The implementation was a success.  Mr. VanHoozer received another award for excellence from
  NASA for his efforts.  The project was completed at the end of August 2001.  All formal acceptance
  testing was completed prior to 9/11 2001.
  
  <p>
  On 9/12 2001 Mr. VanHoozer was on a video conference with Raytheon's Intelligence and
  Information Systems company in Washington D.C.  He accepted a direct position with them to
  once again support military projects of national importance.
  
  <%= prev_next("roles_telos", "roles_raytheon") %>
  
</div>

