<div id="content_item">
  <h1>TELOS Corporation / General Electric Federal Systems</h1>
  <h2>1983 - 1995</h2>

  <p>
  <span class="left">
    <a href="http://www.cgi.com/" title="Click here to go to the CGI website">
      <img src="/images/cgi.png" alt="CGI Logo" />
    </a>
  </span>
  TELOS Corporation was a small private company which was purchased by
  General Electric Federal Systems while Mr. VanHoozer was employed.  Since
  that time the TELOS division was sold at least two more times.  The core
  functional group with whom Mr. VanHoozer worked is now a part of 
  <a href="http://www.cgi.com/">CGI</a>.
  
  <p>
  In response to President Reagan's March 8th 1983 "Evil Empire" speech,
  Mr. VanHoozer accepted a software development position with TELOS Corporation at the
  Software Development and Support Center (SDSC) of
  the Communications Electronics Command (CECOM) Research and Development Center (RDEC)
  located at Fort Sill Oklahoma.  The genealogy
  of this organization is too long to
  go into in this biography.  Check this 
  <a href="http://www.sec.army.mil/secweb/about_sec/historian.php">
  history</a> for an authoritative discussion of the many name and
  organizational changes that have been inflicted upon the contracting officer's
  representative.
  
  <p>
  His initial assignment took advantage of his exceptional skill in assembly
  language programming and communications protocol experience.  He was given the
  responsibility for the classified communications core of the Tactical Fire
  Direction (TACFIRE) System - the U.S. Army Field Artillery's primary command
  and control (C2) system.  Since that time the TACFIRE system has been replaced by
  a more advanced system.

  <p>
  Mr. VanHoozer was given additional responsibilities as the lead software engineer for
  the Fire Support
  Team (FIST) Digital Message Device (DMD) - a small portable computer and laser system used by
  Forward Observers (FO) on the battlefield to request and control Field Artillery
  missions against enemy positions.  The FIST DMD system was one of the first U.S. Army
  systems to use an embedded form of the Ada programming language.  At the time Mr. VanHoozer was
  also a member of a national committee sponsored by the Ada Joint Program Office on the use of
  the Ada language as a design and specification language.

  <p>
  Later he was put in charge of the Ada programming language training group where he oversaw
  the development and delivery of specialized training to the TELOS software development
  group.  In addition he managed the development of the corporation's first national
  Management Information System network (MISnet).  The deployment of the MISnet resulted in
  a significant reduction in the end of month business cycle.  It also for the first time gave
  every TELOS office the ability to exchange electronic mail with every other office.
  
  <p>
  As part of his duties with the MISnet group, Mr. VanHoozer was involved in the development of a new
  headquarters building in Lawton, Oklahoma.  His specific responsibility involved working with
  the infrastructure sub-contractor for the electrical, telephone and computer network wiring of
  the new HQ building.
  
  <p>
  Mr. VanHoozer was the lead engineer on the independent verification and validation (IV&V) contract
  in support of the Advanced Field Artillery Tactical Data System (AFATDS) a replacement for
  the aging TACFIRE system.  At the time AFATDS was the largest
  Ada program language based project for the Department of Defense.

  <p>
  Mr. VanHoozer was assigned to the TELOS office in Fort Wayne Indiana to manage the
  closure of one of the company's first commercial product divisions.  The product was an Apple
  Macintosh-based Graphics User Interface (GUI) front-end for Digital Equipment Corporation's (DEC)
  enterprise product All-In-One.  The TELOS product was a technical success but a business
  failure.  The cost of sales and maintenance activities did not produce the
  kind of return on investment required by the company.

  <p>
  After the successful closure of the commercial division in Fort Wayne, Mr. VanHoozer
  transferred to the TELOS Intelligence group at Fort Huachuca in Arizona to support the 
  All Source Analysis System (ASAS).
  
  <p>
  In his many years at TELOS in senior leadership positions, Mr. VanHoozer participated in
  the analysis of requests for proposals (RFP) and statements of work (SOW).  Mr. VanHoozer was on
  the technical proposal writing team which had an approximately sixty percent win ratio.

  <p>
  After the successful conclusion of the ASAS contract, Mr. VanHoozer left TELOS and military
  support contracts for a consulting position on the Space Station Training Facility at
  the Johnson Space Center in Houston Texas.
  
  <%= prev_next("index", "roles_geologics") %>

</div>

