<div id="content_item">
  <h1>Technologies</h1>
  
  <p>
  After writing this much junk I am beginning to wonder what the point is to this
  section.

  <p>
  The technologies with which Mr. VanHoozer has worked span the entire spectrum of software
  development.  His first exposure to computer programming was
  in high school in his senior year honors math class with APL programming,  Half way
  though the school year the instructor ran out of math-things to teach so began telling
  the class about the course he was taking at the University of Oklahoma in computer programming.
  The second half of the honors math class consisted of the teacher bring what he had just
  learned at university into the high school class room.  The programs that were written by
  the students were taken to OU the next weekend, key-punched, ran and the results were
  returned to the class on Monday.
  
  <p>
  Mr. VanHoozer was graduated from high school on June 2nd. 
  After passing 30 credit hours of
  advanced standing exams. on June 5th he began his university life as a sophomore.
  His first college class was FORTRAN programming.
  
  <p>
  After entering the "real" world of work, Mr. VanHoozer put is programming skills
  to work in both FORTRAN and COBOL programming.  With the introduction of the Apple ][
  personal computer, he began programming for fun with
  6502 assembly code for the Apple ][ computer, the development of the first GUI library
  for a Pascal compiler on the Apple ][ under contract to KYAN software, GENASYS a high
  level language for generating source code in five different
  computer languages for data storage, manipulation and reporting using
  a what you see is what you get interface.
  
  <p>
  Mr. VanHoozer became the first president of the Houston Area Apple Users Group and later
  was elected to the first board of directors for the International Apple Corp.
  
  <p>
  During this time Mr. VanHoozer supported a medical research team studying cancer clusters using
  his skills in scientific program.  He was a consultant of several significant
  commercial projects in the Houston area.  One of the most interesting was an assignment
  with the architectural firm that designed the Shaw of Iran's palace.
  
  <p>
  Mr. VanHoozer became the programming manager for a new video game company.  During his
  time in the video game development business Mr. VanHoozer's innovations included
  the networking of personal computers to a large (5megabyte) common storage device.
  He also implemented a macro cross-assembler with common macro libraries between various
  video game platforms.
  
  <span class="center"><img src="/images/under_construction.gif" alt="Placeholder" /></span>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
</div>

